<div *ngIf="contact$ | async as contact">

  <div class="jumbotron">
    <h1 class="display-3">{{contact.name}}</h1>
    <p class="lead">Contact me using my email, phone number or over instagram</p>
    <hr class="my-4">
    <p class="lead"><a href="mailto:{{contact.email}}">Email: {{contact.email}}</a></p>
    <hr class="my-4">
    <p class="lead"><a href="tel:{{contact.phoneNumber}}">Phone Number: {{contact.phoneNumber}}</a></p>
    <!-- <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p> -->
  </div>
</div>
