<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink='' class="navbar-brand"><h1 class="text-light">{{title}}</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a routerLink='' class="nav-link" href="#"><h4 class="text-light">Home</h4> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink='/about' class="nav-link"><h4 class="text-light">About</h4></a>
      </li>
      <li class="nav-item">
        <a routerLink='/contact' class="nav-link"><h4 class="text-light">Contact</h4></a>
      </li>
      <li class="nav-item">
        <a routerLink='/projectsList' class="nav-link"><h4 class="text-light">All Projects</h4></a>
      </li>
    </ul>
  </div>
</nav>
